<% include ../partials/header %>
<div class="container">
	<div class="row">
		<div class="col-md-4 mx-auto">
			<h3>Create a new comment for <%= campground.name %></h3>
				<form action="/campgrounds/<%= campground._id %>/comments" method="POST">
					<div class="form-group">
						<label for="commentInput">Enter your comment</label>
						<input type="text" class="form-control" id="commentInput" name="comment[text]" placeholder="comment">
					</div>
					<button type="submit" class="btn btn-primary btn-lg btn-block">Post a new comment</button>
				</form>
				<a href="/campgrounds">Back to the campground page.</a>
		</div>
	</div>
</div>
<% include ../partials/footer %>