<% include ../partials/header %>
<!-- TODO update with Bootstrap 4 -->

<div class="container">
	<div class="row" >
			<h1 style="text-align: center;">Create a new comment for <%= campground.name %></h1>
			<div style="width: 30%; margin: 25px auto;">
				<form action="/campgrounds/<%= campground._id %>/comments" method="POST">
					<div class="form-group">
						<input class="form-control" type="text" name="comment[text]" placeholder="Type in your comment">
					</div>
					<div class="form-group">
						<button class="btn btn-lg btn-primary btn-block">Post a new comment!</button>
					</div>
				</form>
				<a href="/campground">Back to the campground page.</a>

			</div>
	</div>
</div>


<% include ../partials/footer %>