<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>YelpCamp</title>
    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/landing.css">
<body>
<!-- Cover in the back, image carousel -->
<header>
  <div class="carousel slide carousel-fade" data-ride="carousel" id="bg-carousel">
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('https://images.unsplash.com/photo-1455763916899-e8b50eca9967')">
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://images.unsplash.com/photo-1475483768296-6163e08872a1')">
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://images.unsplash.com/photo-1455763916899-e8b50eca9967')">
      </div>
    </div>
  </div>
</header>

<!-- Main header and call to action -->
<div class="row">
  <div class="col-lg-4 col-md-8 mx-auto mt-5">
    <div class="card text-white">
      <div class="card-body">
        <h1 class="display-4">Welcome to YelpCamp</h1>
        <p class="lead">A final project for the Web Developer Bootcamp.</p>
        <a href="/campgrounds" class="btn btn-lg btn-primary float-right">See all the campgrounds</a>
      </div>
      <!-- Footer -->
      <div class="card-footer">
        <span class="float-left">Created by <a href="http://www.jgamache.ca" class="text-reset font-weight-bold">Josh Gamache</a></span>
        <span class="float-right">View this project on <a href="https://github.com/Infiniwild/YelpCamp" class="text-reset font-weight-bold">my Github</a></span>
      </div>
    </div>
  </div>
</div>

<!-- Required JS for Bootstrap 4 -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
