.carousel-item {
  position: fixed;
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#bg-carousel {
  z-index: -10;
}

.card {
  background-color: rgba(0, 0, 0, 0.4);
}
